.form {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 20px;
	margin-top: 2rem;
	h5 {
		padding: 1rem 0 0 1rem;
	}
	.input-field {
		
		padding: 0 2rem 0 2rem;
	}
}

:host ::ng-deep {
	.p-dropdown {
		
		width: 100%;
	}
	.p-button-text {
		width: 120px;
		background-color: #008cff;
		color: #ffffff;
		border-color: #0000;
		text-align: center;
	}
	.p-calendar {
		width: 100%;
	}
}

.btn-search {
	float: right;
	padding-bottom: 2%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

label {
	display: block;
}
