<form [formGroup]="giftFormCreate">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="form-control-label"
					>{{
						_translateService.instant(
							"pages.loyalty.labels.gift-start-date-exchange"
						)
					}}</label
				>
				<input
					type="date"
					class="form-control"
					id="loyaltyGiftExchangeDateStart"
                    formControlName="loyaltyGiftExchangeDateStart"
					[placeholder]="
					_translateService.instant(
						'pages.loyalty.placeholders.gift-start-date-exchange'
					)
				"
				/>
			</div>
		</div>
	
		<div class="col-md-6">
			<div class="form-group">
				<label for="qrcodeDateCreate" class="form-control-label"
					>{{
						_translateService.instant(
							"pages.loyalty.labels.gift-end-date-exchange"
						)
					}}</label
				>
				<input
					type="date"
					class="form-control"
					id="loyaltyGiftExchangeDateEnd"
                    formControlName="loyaltyGiftExchangeDateEnd"
					[placeholder]="
					_translateService.instant(
						'pages.loyalty.placeholders.gift-end-date-exchange'
					)
				"
				/>
			</div>
		</div>
	</div>

	<div >
		<div class="form-group">
			<label for="qrcodePackingNumber" class="form-control-label"
				>{{
					_translateService.instant(
						"pages.loyalty.labels.gift-limit"
					)
				}}
			</label>
			<input
				type="number"
				
				class="form-control"
				id="loyaltyGiftLimitQuantity"
				formControlName="loyaltyGiftLimitQuantity"
				[placeholder]="
					_translateService.instant(
						'pages.loyalty.placeholders.gift-limit'
					)
				"
			/>
		</div>
	</div>

	<div >
		<div class="form-group">
			<label for="qrcodePackingNumber" class="form-control-label"
				>{{
					_translateService.instant(
						"pages.loyalty.labels.gift-point-required"
					)
				}}
			</label>
			<input
				type="number"
				id="loyaltyGiftRequirePoint"
				class="form-control"
				formControlName="loyaltyGiftRequirePoint"
				[placeholder]="
					_translateService.instant(
						'pages.loyalty.placeholders.gift-point-required'
					)
				"
			/>
		</div>
	</div>

	<div >
		<div class="form-group">
			<label for="qrcodePackingNumber" class="form-control-label"
				>{{
					_translateService.instant(
						"pages.loyalty.labels.gift-name"
					)
				}}
			</label>
			<input
				type="text"
				id="loyaltyGiftName"
				class="form-control"
				formControlName="loyaltyGiftName"
				[placeholder]="
				_translateService.instant(
					'pages.loyalty.placeholders.gift-name'
				)
			"
			/>
		</div>
	</div>

	<div >
		<div class="form-group">
			<label for="qrcodePackingNumber" class="form-control-label"
				>{{
					_translateService.instant(
						"pages.loyalty.labels.gift-description"
					)
				}}
			</label>
			<textarea  rows="5" cols="30" class="form-control" placeholder="Description Product" pInputTextarea [autoResize]="autoResize"
				id="loyaltyGiftDescription"
				formControlName="loyaltyGiftDescription"
				[placeholder]="
					_translateService.instant(
						'pages.loyalty.placeholders.gift-description'
					)
				"
			></textarea>

		</div>
	</div>
	

	<div>
			<div class="form-group">
				<label for="customerIdentificationFront" class="form-control-label"
					>{{
						_translateService.instant(
							"pages.loyalty.labels.gift-thumbnail"
						)
					}}</label
				>
				<p-fileUpload
					name="docs[]"
					[multiple]="true"
					accept="image/*"
					[maxFileSize]="2000000"
					[showUploadButton]="true"
					(onSelect)="onSelectThumbnail($event)"
					(onRemove)="onRemoveThumbnail($event)"
				>
				
				</p-fileUpload>
			</div>
	</div>
	<div >
			<div class="form-group">
				<label for="customerIdentificationFront" class="form-control-label"
					>{{
						_translateService.instant(
							"pages.loyalty.labels.gift-icon"
						)
					}}</label
				>
				<p-fileUpload
					name="docs[]"
					[multiple]="true"
					accept="image/*"
					[maxFileSize]="2000000"
					[showUploadButton]="true"
					(onSelect)="onSelectIcon($event)"
					(onRemove)="onRemoveIcon($event)"
				>
				</p-fileUpload>
			</div>
	</div>
	<div >
			<div class="form-group">
				<label for="customerIdentificationFront" class="form-control-label"
					>{{
						_translateService.instant(
							"pages.loyalty.labels.gift-banner"
						)
					}}</label
				>
				<p-fileUpload
					name="docs[]"
					[multiple]="true"
					accept="image/*"
					[maxFileSize]="2000000"
					[showUploadButton]="true"
					(onSelect)="onSelectBanner($event)"
					(onRemove)="onRemoveBanner($event)"
				>
				</p-fileUpload>
				<!-- <p-fileUpload></p-fileUpload> -->
			</div>
	</div>
	<div class="div-contain-add-button">
		<p-button [label]="
		_translateService.instant(
			'pages.loyalty.labels.add-gift'
		)
	" styleClass="button-add" icon="pi pi-plus" (click)="onCreateNewMembershipGift()" ></p-button>
	</div>
	
</form>
