<app-main-layout>
	<app-advance-search-history-list-qrcode
	(searchEvent)="receiveSearch($event, campaignId)"
	[campaignId]="campaignId"
	></app-advance-search-history-list-qrcode>

	<div class="app-table" *ngIf="qrHistoryList.length>0; else elseBlock">
		<p-table
			[value]="qrHistoryList"
			styleClass="p-datatable-sm p-datatable-gridlines"
			responsiveLayout="scroll"
			[paginator]="true"
			[rows]="5"
			[showCurrentPageReport]="true"
			responsiveLayout="scroll"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
			[rowsPerPageOptions]="[5, 10, 15]"
			[scrollable]="true"
			scrollHeight="200px"
			[resizableColumns]="true"
		>
			<ng-template pTemplate="caption">
				<h5>{{_translateService.instant('pages.qrcode.labels.result-list')}}</h5>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th class="column-1">{{_translateService.instant('pages.qrcode.labels.qrcode')}}</th>
					<th class="column-2">{{_translateService.instant('pages.qrcode.labels.qrcode')}}</th>
					<th class="column-3">{{_translateService.instant('pages.qrcode.labels.qr-date-of-create')}}</th>
					<th class="column-4">{{_translateService.instant('pages.qrcode.labels.qr-type')}}</th>
					<th class="column-5">{{_translateService.instant('pages.qrcode.advance-search.product')}}</th>
					<th class="column-6">{{_translateService.instant('pages.qrcode.labels.total-score')}}</th>
					<th class="column-7">{{_translateService.instant('pages.qrcode.labels.customer-code')}}</th>
					<th class="column-8">{{_translateService.instant('pages.qrcode.labels.customer-name')}}</th>
					<th class="column-9">{{_translateService.instant('pages.qrcode.labels.qr-date-of-use')}}</th>
					
					
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-packing>
				<tr>
					<td class="column-1"><img src="{{packing.qrUrl}}" alt="qrcode" class="qrcode"></td>
					<td class="column-2">{{ packing.qrCode}}</td>
					<td class="column-3">{{ packing.createdDate | date: "dd/MM/yyy" }}</td>
					<td class="column-4">{{ packing.qrType}}</td>
					<td class="column-5" *ngIf="productList">
						{{ findProduct(packing.productId, productList)?.productName }}
					</td>
					<td class="column-6">{{ packing.qrPoint}}</td>
					<td class="column-7">{{ packing.customerNo}}</td>
					<td class="column-8">{{ packing.customerName}}</td>
					<td class="column-9">{{ packing.qrUsedDate | date: "dd/MM/yyy" }}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
	<ng-template #elseBlock>
		<div class="error"><h1>Không có dữ liệu</h1></div>
	</ng-template>
</app-main-layout>
