<div class="row">
	<div class="col-md-12">
		<label class="form-control-label"
			>{{ _translateService.instant("common.city.labels.city") }}:</label
		>
		<p-dropdown
			#city
			[options]="provinceList"
			optionLabel="provinceName"
			optionValue="provinceId"
			[placeholder]="
				_translateService.instant('common.city.placeholders.city')
			"
			class="common-dropdown p-inputtext-sm"
			(onChange)="
				isCustomerUpdation
					? emitCurrentProvinced($event, city)
					: emitCurrentProvince($event)
			"
			[(ngModel)]="selectedProvince"
			(onChange)="getProvinces($event)"
		>
		</p-dropdown>
	</div>
</div>
