<div class="row">
	<div class="col-md-12">
		<label class="form-control-label"
			>{{
				_translateService.instant(
					"common.customer-group.labels.type-group"
				)
			}}:</label
		>
		<p-dropdown
			#group
			[options]="groupList"
			optionLabel="groupName"
			optionValue="groupId"
			[placeholder]="
				_translateService.instant(
					'common.customer-group.placeholders.type-group'
				)
			"
			class="common-dropdown p-inputtext-sm"
			(onChange)="getGroups($event)"
			(onChange)="getGroup($event, group)"
			[(ngModel)]="selectedGroup"
		>
		</p-dropdown>
	</div>
</div>
