.app-table {
	width: 100%;
	height: auto;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
	background-color: #fff !important;

	margin-top: 2rem;
	padding: 5px;

	th, td {
		justify-content: center;
	}
}

.column{
	width: 15rem;
}
.table-caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon{
	width: 150px;
	height: 150px;
	margin-left: auto; 
	margin-right: auto;
	object-fit:cover;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem #a6d5fa;
	border-color: #2196F3
}