<div class="container" *ngIf="formStep === 1">
	<div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
		<div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
			<div class="card z-index-0">
				<div class="card-header text-center pt-4">
					<h5>Quên Mật Khẩu</h5>
				</div>
				<div class="card-body">
					<form role="form text-start" [formGroup]="mainForm">
						<div class="mb-3">
							<label>Nhập email: </label>
							<input
								type="text"
								placeholder="Ví dụ：admin"
								formControlName="txtNameAccount"
								tabindex="1"
								maxlength="150"
								class="form-control"
								aria-describedby="email-addon"
								spellcheck="false"
								autocorrect="false"
								autocomplete="false"
								autofocus="false"
							/>
							<div>
								<common-validation-message
									[mainForm]="mainForm"
									controllerName="txtNameAccount"
									controllerType="textbox"
									controllerTitle="{{
										_translateService.instant(
											'pages.login.labels.input-email-title'
										)
									}}"
									maxLength="150"
								>
								</common-validation-message>
							</div>
						</div>
						<div class="text-center">
							<button
								type="button"
								class="btn bg-gradient-info w-100 my-4 mb-2"
								[disabled]="mainForm.get('txtNameAccount')?.invalid"
								(click)="doForgotPassword()"
							>
								Quên mật khẩu
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" *ngIf="formStep === 2">
	<div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
		<div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
			<div class="card z-index-0">
				<div class="card-header text-center pt-4">
					<h5>Quên Mật Khẩu</h5>
					<p>
						Thông tin đặt lại mật khẩu đã được gửi đến địa chỉ email bạn
						đã nhập. Nhập mã PIN trên màn hình đặt lại mật khẩu và đặt lại
						mật khẩu mới.
					</p>
				</div>
				<div class="card-body">
					<form role="form text-start" [formGroup]="mainForm">
						<div class="mb-3">
							<label>Mã PIN： </label>
							<input
								type="text"
								placeholder="Ví dụ：123456"
								formControlName="txtPinCode"
								tabindex="1"
								minlength="1"
								maxlength="6"
								class="form-control"
								aria-describedby="email-addon"
								spellcheck="false"
								autocorrect="false"
								autocomplete="false"
								autofocus="false"
							/>
							<div>
								<common-validation-message
									[mainForm]="mainForm"
									controllerName="txtPinCode"
									controllerType="textbox"
									controllerTitle="Mã PIN"
									minLength="1"
									maxlength="6"
								>
								</common-validation-message>
							</div>
						</div>
						<div class="mb-3">
							<label>Nhập lại mật khẩu： </label>
							<input
								type="password"
								placeholder="Ít nhất là 6 kí tự"
								formControlName="txtPassword"
								tabindex="2"
								minlength="6"
								maxlength="100"
								class="form-control"
								aria-describedby="email-addon"
								spellcheck="false"
								autocorrect="false"
								autocomplete="false"
								autofocus="false"
							/>
							<div>
								<common-validation-message
									[mainForm]="mainForm"
									controllerName="txtPassword"
									controllerType="textbox"
									controllerTitle="Mật khẩu mới"
									minLength="6"
									maxLength="100"
								>
								</common-validation-message>
							</div>
						</div>
						<div class="mb-3">
							<label>Nhập lại mật khẩu mới： </label>
							<input
								type="password"
								placeholder="Ít nhất là 6 kí tự"
								formControlName="txtPasswordConfirm"
								tabindex="2"
								minlength="6"
								maxlength="100"
								class="form-control"
								aria-describedby="email-addon"
								spellcheck="false"
								autocorrect="false"
								autocomplete="false"
								autofocus="false"
							/>
							<div>
								<common-validation-message
									[mainForm]="mainForm"
									controllerName="txtPasswordConfirm"
									controllerType="textbox"
									controllerTitle="Xác nhận mật khẩu mới"
									minLength="6"
									maxLength="100"
								>
								</common-validation-message>
							</div>
						</div>
						<div class="text-center">
							<button
								type="button"
								class="btn bg-gradient-info w-100 my-4 mb-2"
								[disabled]="
									mainForm.get('txtPinCode')?.invalid ||
									mainForm.get('txtPassword')?.invalid
								"
								(click)="doResetPassword()"
							>
								Nhận lại mật khẩu
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
